@model Cliente
@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
  <div class="card-header">
    Excluir Informações de Clientes
  </div>
  <div class="card-body">
   <form asp-action="Excluir" asp-controller="Manter" method="post">
        <input asp-for="Id" type="hidden" class="form-control"> 
        <div class="alert alert-danger" role="alert">
            Deseja Excluir o Cliente @Html.DisplayTextFor(m => m.NomeCliente) ?
        </div>   
      <button type="submit" class="btn btn-danger">Excluir</button>
      <a asp-action="listar" asp-controller="Manter" class="btn btn-warning">Lista</a>
</form>
  </div>
  </div>

